<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Success</title>
    <link rel="stylesheet" th:href="@{/css/cartSuccessStyle.css}">
</head>
<body>
<div class="container">
    <h1>Product Added to Cart</h1>

    <div th:if="${cartId}" class="cart-id">
        <p>Cart ID: <span th:text="${cartId}"></span></p>
    </div>

    <div class="navigation">
        <a href="/cart" class="btn view-cart">View Cart</a>
        <a th:href="@{/all-products}" class="btn back-to-product">Back to Product Page</a>
    </div>
</div>
</body>
</html>
