<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Cart</title>
  <link rel="stylesheet" th:href="@{/css/cartView.css}">
</head>
<body>
<div class="container">
  <h1>Your Cart</h1>
  <table>
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Offer Price</th>
      <th>VAT</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the cart items -->
    <tr th:each="cart : ${cartList}">
      <td th:text="${cart.productEntity.productName}">Product Name</td>
      <td th:text="${cart.productEntity.price}">Price</td>
      <td th:text="${cart.productEntity.offerPrice}">Offer Price</td>
      <td th:text="${cart.productEntity.vat}">VAT</td>
      <td th:text="${cart.productEntity.total}">Total</td>
      <td>
        <form th:action="@{/remove}" method="post">
          <input type="hidden" name="productId" th:value="${cart.id}" />
          <button type="submit" style="background-color: red">Remove</button>
        </form>
      </td>
    </tr>

    </tbody>
  </table>
  <div class="actions">
    <a th:href="@{/all-products}" class="btn-back">Continue Shopping</a>
  </div>
</div>
</body>
</html>
